<h1 style="margin-left: 100px"><%= @list.name %></h1>
<%= link_to "Add Movie", new_list_bookmark_path(@list) %>
<div class="movie-cards">
  <% @list.movies.each do |movie| %>
    <div class="movie-card rounded">
      <%= image_tag movie.poster_url %>
      <%= movie.title %>
    </div>
  <% end %>
</div>
<%= link_to "Back", lists_path%>
